.display {
  font-size: 25px;
  padding: 0.5rem 2rem;
  overflow-x: auto;
  white-space: nowrap;
  background-color: rgba(163, 201, 217, 0.4);
  width: 100%;
  height: 10vh;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: end;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display {
    font-size: 30px;
  }
}
